<div class="search-wrapper transition-children">
	<input type="text" id="txt-search-questions" placeholder="Search Questions..."> 
	<input type="button" id="btn-search-questions" value="Search">
</div>

<div class="questiontypes transition-children">
	<a id="qtype-new" href="/questions/new">New</a>
	<a id="qtype-unattempted" href="/questions/unattempted">Seen &amp; Unattempted</a>
	<a id="qtype-attempted" href="/questions/attempted">Attempted</a>
	<a id="qtype-yours" href="/questions/yours">Your creations</a>
</div>