<table id="tbl-questions" class="transition-children">
	<tr id="tbl-questions-header">
		<th id="th-question-title">Title</th>
		<th id="th-votes">Votes</th>
		<th id="th-success-ratio">Success Ratio</th>
		<th id="th-fastest">Fastest</th>
		<th id="th-question-setter">Setter</th>
		<th id="th-categories">Categories</th>
	</tr>
</table>