<div class="search-wrapper transition-children">
	<input type="text" id="txt-search-questions" placeholder="Search Questions..."> 
	<input type="button" id="btn-search-questions" value="Search">
</div>