<!DOCTYPE html>
<html>
<head>
	<title>Qwiz-Kid! An online quizzing platform.</title>
</head>
<body>
	Welcome to Qwiz-Kid

	<div id="forms">
		<form method="POST" action="../questions">
			<div id="login_topbar">Signup</div>

			<label for="title">Title</label>
			<input name="title" id="title">
			<br>

			<label for="question">Question</label>
			<input type="text" name="question" id="question">
			<br>

			<hr>

			<label for="options[0]">Option 1</label>
			<input name="options[0]" id="options[0]">
			<br>
			<label for="options[1]">Option 2</label>
			<input name="options[1]" id="options[1]">
			<br>
			<label for="options[2]">Option 3</label>
			<input name="options[2]" id="options[2]">
			<br>
			<label for="options[3]">Option 4</label>
			<input name="options[3]" id="options[3]">
			<br>

			<hr>

			<label for="answer">Answer</label>
			<input type="text" name="answer" id="answer">
			<br>

			<label for="explanation">Explanation</label>
			<input type="text" name="explanation" id="explanation">
			<br>

			<label for="timelimit">Timelimit</label>
			<input type="text" name="timelimit" id="timelimit">
			<br>

			<label for="categories">Categories</label>
			<input type="text" name="categories" id="categories" value="Sports, TV Shows">
			<br>

			<input type="submit" value="Signup" name="submit">
		</form>
	</div>
</body>
</html>