<div class="question-title-wrapper">
	<input type="text" name="title" id="txt-question-title" placeholder="Title of the question..."> 
	<input type="button" id="btn-question-save" value="Save!" disabled="true">
</div>

<div id="correct-answer-wrapper">
	<span>Correct Answer</span>
	<div id="answer-choices-container">
		<span id="correct-answer">A</span>
		<div id="answers-drop-down">
			<div id="option-a">A</div>
			<div id="option-b">B</div>
			<div id="option-c">C</div>
			<div id="option-d">D</div>
		</div>
	</div>
</div>

<div id="time-limit-wrapper">
	<span>Time Limit</span>
	<input type="number" id="txt-time-limit" placeholder="None">
</div>