<div class="pane">
	<div id="question-wrapper">
		<label for="txt-question">Question</label>
		<textarea id="txt-question" name="question" placeholder="Type your question here..."></textarea>
	</div>

	<div id="options-wrapper">
		<div class="option-wrapper">
			<label for="option1">A</label>
			<input type="text" id="option1" name="option1" placeholder="Option 1">
		</div>

		<div class="option-wrapper">
			<label for="option1">B</label>
			<input type="text" id="option2" name="option2" placeholder="Option 2">
		</div>

		<div class="option-wrapper">
			<label for="option1">C</label>
			<input type="text" id="option3" name="option3" placeholder="Option 3">
		</div>

		<div class="option-wrapper">
			<label for="option1">D</label>
			<input type="text" id="option4" name="option4" placeholder="Option 4">
		</div>
	</div>
</div>

<div class="pane">
	<div id="explanation-wrapper">
		<label for="txt-explanation">Explanation</label>
		<textarea placeholder="Type your explanation here..." id="txt-explanation" name="explanation"></textarea>
	</div>

	<div id="categories-wrapper">
		<label for="txt-categories">Categories</label>
		<input type="text" id="txt-categories" name="categories" placeholder="Add categories...">
	</div>
</div>
</div>