<table id="tbl-leaderboard" class="transition-children">
	<tr id="tbl-leaderboard-header">
		<th id="th-rank">Rank</th>
		<th id="th-username">Username</th>
		<th id="th-name">Name</th>
		<th id="th-score">Score</th>
	</tr>
</table>