<tr>
	<td class="user-rank">
		{{rank}}
	</td>
	<td class="user-username">
		<span>{{username}}</span>
	</td>
	<td class="user-name">
		<span>{{name}}</span>
	</td>
	<td class="user-score">
		<span>{{score}}</span>
	</td>
</tr>