<div class="page-title">
	Leaderboard
</div>

<div class="score">
	Your Score : <span class="value">{{score}}</span>
</div>

<div class="rank">
	Your Rank : <span class="value">{{rank}}</span>
</div>

